<!-- ======= Hero / Home ======= -->
<section id="hero" class="hero-main d-flex flex-column align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <div class="text-center hero-branding">
      <h1>Hazem Alyaari</h1>
      <p class="hero-tagline mb-0">I'm <span class="typed" data-typed-items="From Yemen,Software Developer, Engineering Student"></span></p>
    </div>

    <div class="hero-about-block">
      <p class="hero-intro">
        I am an undergraduate student at the Sana'a University. I enjoy problem-solving and coding. I love
        solving questions on LeetCode and doing competitive programming. I am well-versed in Computer Science
        fundamentals, Operating Systems, Database Management Systems, and Computer Networks and I also have a
        keen interest in High-Level System Design. I have built a few projects on Web Development and Desktop.
        I always strive to bring 100% to the work I do.
      </p>
      <p class="hero-objective">
        <i class="bx bx-target-lock"></i>
        Looking for an opportunity to work in a challenging position combining my skills in Software
        Engineering, which provides professional development, interesting experiences and personal growth.
      </p>
      <p class="hero-more text-center mb-0">
        <a href="#about" class="scrollto hero-more-link">Skills &amp; expertise <i class="bx bx-down-arrow-alt"></i></a>
      </p>
    </div>
  </div>
</section>
